<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'home' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link" href="{% url 'events:events' %}">
        <i class="bi bi-grid"></i>
        <span>Events</span>
      </a>
    </li>
    <!-- End Event Nav -->

    {% if user.is_authenticated and user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'events:registrations' %}">
          <i class="bi bi-grid"></i>
          <span>Registrations</span>
        </a>
      </li>
      <!-- End Event Nav -->
    {% endif %}
  </ul>
</aside>
<!-- End Sidebar -->
