{% extends "base.html" %}
{% block content %}

<main id="main" class="main">
    <div class="pagetitle">
      <h1>Events</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Dashboard</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'events:events' %}">Events</a>
          </li>
          <li class="breadcrumb-item active">Update</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->
    <section class="section">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Update event</h5>

          <!-- Custom Styled Validation -->
          <form class="row g-3" action="." method="POST">
            {% csrf_token %}
            <div class="col-md-6">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title" value="{{ event.title }}" required />
            </div>
            <div class="col-md-6">
              <label for="location" class="form-label">Location</label>
              <input type="text" class="form-control" id="location" name="location" value="{{ event.location }}" required />
            </div>
            <div class="col-md-4">
              <label for="date" class="form-label">Date</label>
              <input type="date" class="form-control" id="date" name="date" value="{{ event.date|date:'Y-m-d' }}" required />
            </div>
            <div class="col-md-4">
              <label for="time" class="form-label">Time</label>
              <input type="time" class="form-control" id="time" name="time" value="{{ event.time|time:'H:i' }}" required />
            </div>
            <div class="col-md-4">
              <label for="max_participants" class="form-label">Max Participants</label>
              <input type="number" class="form-control" id="max_participants" name="max_participants" value="{{ event.max_participants }}" required />
            </div>
            <div class="col-md-12">
              <label for="description" class="form-label">Description</label>
              <textarea name="description" id="description" placeholder="Description" rows="4" class="form-control">{{ event.description }}</textarea>
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">Update</button>
            </div>
          </form>
          <!-- End Custom Styled Validation -->
        </div>
      </div>
    </section>
  </main>

{% endblock %}